.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity var(--main-transition), visibility var(--main-transition);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(1);
    width: 528px;
    min-height: 581px;
    padding: 40px 40px;

    background-color: #FFFFFF;
    border-radius: 4px;
    transition: opacity var(--main-transition),
    transform var(--main-transition);

    .backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.2);
    }
}
