.portfolio-progect-list {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-progect-item {
    display: block;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
}

.project-cards-image {
    display: block;
    position: relative;
    overflow: hidden;
}
.project-cards {
    display: block;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    text-decoration: none;
    background-color: var(--cards-bcg-color);
    transition: box-shadow var(--main-transition);

    &:hover,
    &:focus {
        box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}



.card-text {
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
    padding: 24px 20px;
}

.project-title {
    display: block;
    color: var(--title-text-color);
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.project-type {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    font-weight: 400;
}