.contact-list__icon {
    margin-right: 10px;
    display: inline-block;
    align-items: center;
    fill: #757575;
    transition: fill var(--main-transition);

    .contact-list__link:focus &,
    .contact-list__link:hover &{
      fill: var(--focus-color);  
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}
// .contact-list {
//     display: flex;
//     margin-left: auto;
//     align-items: center;
//     justify-content: center;

// }

// .contact-list__item:not(:last-child) {
//     margin-right: 50px;
// }
