html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', 'sans-serif';
    color: var(--main-text-color);
    background-color: white;
    letter-spacing: var(--main-letter-spacing);
    font-size: 14px;

}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
.ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}